@import url("https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext");

#left, #right {
    cursor: pointer;
    position: relative;
    width: 80px;
    height: 50px;
    margin: 20px;
    float: left;
    left: 43%;
    top: -5%;
}
#left div, #right div {
    position: relative;
    top: -30%;
    width: 90px;
    height: 10px;
    background-color: black;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
    left:0;
    display: block;
}
#right div::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 10px;
    top: -11px;
    right: -8px;
    background-color: black;
    transform: rotate(45deg);
}
#right div::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 10px;
    top: 11px;
    right: -8px;
    background-color: black;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
}
#left div::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 10px;
    top: 11px;
    right: 60px;
    background-color: black;
    transform: rotate(45deg);
}
#left div::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 10px;
    top: -11px;
    right: 60px;
    background-color: black;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
}
#left:hover {
    animation: an-left 1s linear infinite;
}
/* @keyframes an-left {
    0% {
        left:42%;
    }
    50% {
        left:41%;
    }
    100% {
        left:42%;
    }
}
#right:hover {
    animation: an-right 1s linear infinite;
}
@keyframes an-right {
    0% {
        left:44%;
    }
    50% {
        left:45%;
    }
    100% {
        left:44%;
    }
} */


#forward, #back {
    cursor: pointer;
    position: relative;
    width: 80px;
    /* height: 50px; */
    margin: 20px;
    left: 50%;
}
#forward div, #back div {
    position: relative;
    /* left: 20px; */
    width: 10px;
    height: 90px;
    background-color: black;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
    /* left:0; */
    display: block;
}
#forward div::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 40px;
    top: -11px;
    right: 12px;
    background-color: black;
    transform: rotate(45deg);
}
#forward div::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 40px;
    top: -11px;
    right: -11px;
    background-color: black;
    box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
    transform: rotate(-45deg);
}
#back div::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 40px;
    top: 60px;
    right: -12px;
    background-color: black;
    transform: rotate(45deg);
}
#back div::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 40px;
    top: 60px;
    right: 11px;
    background-color: black;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
}
#forward:hover {
    animation: an-forward 1s linear infinite;
}
/* @keyframes an-forward {
    0% {
        top:-1%;
    }
    50% {
        top:-2%;
    }
    100% {
        top:-1%;
    }
}
#back:hover {
    animation: an-back 1s linear infinite;
}
@keyframes an-back {
    0% {
        top:1%;
    }
    50% {
        top:2%;
    }
    100% {
        top:1%;
    }
} */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
    /* pointer-events: initial; */
  }

#stop {
  position: relative;
  color: #FFF;
  text-align: center;
  color: rgba(255, 255, 255, 0.85);
  font-family: "Lato", Verdana, sans-serif;
  font-size: 30px;
  padding-top: 60px;
  width: 150px;
  height: 90px;
  border-radius: 120px;
  background: radial-gradient(#EF495A, #DE2839);
  box-shadow: 1px 2px 1px rgba(255, 255, 255, 0.15) inset;
  margin: 0 auto;
  top: 25px;
  cursor: pointer;
}